BasedOnStyle: LLVM
IndentWidth: 2
ColumnLimit: 0
PointerAlignment: Left
DerivePointerAlignment: false
AlignTrailingComments: false
SpacesBeforeTrailingComments: 1
AlignConsecutiveAssignments: false
AlignConsecutiveDeclarations: false
AllowShortIfStatementsOnASingleLine: true
AllowShortLoopsOnASingleLine: true
AllowShortFunctionsOnASingleLine: All
SortIncludes: false
